@import 'base/variable';
@import 'normalize/normalize';
@import 'fonts/fonts';
*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/advantage';
@import 'blocks/consultation';
@import 'blocks/form';
@import 'blocks/carusel';
@import 'slider/tiny-slider';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/up';

@import 'media';