.carusel{
    min-height: 743px;
    padding: 81px 0 82px 0;
    &__slider{
        display: flex;
        align-items: center;
    }
    &__img{
        margin: 0 auto;
        display: block;
        max-width: 85%;
    }
    &__prev, &__next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        width: auto;
        transition: 0.6s ease;
        border: none;
    }
    &__prev{
        left: 15px;
    }
    &__next{
        right: 15px;
    }
    .tns-nav{
        text-align: center;
        button{
            margin: 0 10px;
            width: 15px;
            height: 15px;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: 100%;
            outline: none;
        }
        &-active{
            background-color: $main-color;
        }
    }
}