.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../images/consultaitionBG.jpg') center (center/cover) no-repeat;
    &__title{
        font-size: 36px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
    }
    &__descr{
        padding-top: 80px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
    }
    input.error{
        background-color: rgb(255, 143, 143);
        color: #ffffff !important;
    }
    input.error:focus{
        border: 2px solid $main-color;
        background-color: #ffffff;
        color: #4b4b4b !important;
        outline: none;
    }
    label.error{
        position: relative;
        left: 310px;
        top: -36px;
        text-align: left;
        font-size: 13px;
        color: #ffffff
    }
}